<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Инвестиционный калькулятор</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">

<div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page"></a></li>
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="/personalAcc" class="nav-link link-dark px-2">Сохраненные расчеты</a></li>
        <li class="nav-item">
            <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="$_csrf.token">
            <input type="submit" value="Выйти">
        </form></li>
    </ul>

</div>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Инвестиционный калькулятор</h2>
            <p class="lead">Твой помощник в инвестициях</p>
        </div>
        <div class="row" style="vertical-align: middle">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <select class="form-select col-sm-8" id="indexes" required>
                    <option value="SelectIndex">Выберите показатель...</option>
                    <option value="SCS">Стартовый капитал (расчет с использованием просто процента)
                    </option>
                    <option value="SCD">Стартовый капитал (расчет с использованием сложного процента)</option>
                    <option value="FAS">Конечную сумму (расчет с использованием просто процента)</option>
                    <option value="FAD">Конечную сумму (расчет с использованием сложного процента)</option>
                    <option value="NPV">Конечную сумму за вычетом старотового капитала NPV</option>
                    <option value="PI">Рентабельность PI</option>
                    <option value="DPP">Срок достижения цели DPP</option>
                    <option value="IRR">Доходность IRR</option>
                    <option value="MIRR">Модифицированная доходность MIRR</option>
                </select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <form id="Form1">
            <div class="row" style="vertical-align: middle">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label for="I" id="IDI" class="form-label">Первоначальные вложения</label>
                    <input type="number" class="form-control" id="I" required="">
                    <div class="invalid-feedback">
                        Введите число
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row" style="vertical-align: middle">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <label for="N" id="IDN" class="form-label">Число временных периодов</label>
                    <select class="form-select" id="N" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    <div class="invalid-feedback">
                        Введите число
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="R(%)" id="IDR(%)" class="form-label">Ставка дисконтирования в %</label>
                    <input type="number" class="form-control" id="R(%)" required="">
                    <div class="invalid-feedback">
                        Введите число
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <br>
            <div class="row" style="vertical-align: middle">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <table class="table table-borderless" id="table">
                        <thead>
                        <tr>
                            <th scope="col">Год</th>
                            <th scope="col">Денежные потоки</th>
                        </tr>
                        </thead>
                        <tbody id="row1"></tbody>
                    </table>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <script type="text/javascript">
                        document.getElementById('table').hidden = true;
                        var select = document.querySelector('#N');
                        select.addEventListener('change', function(){
                            document.getElementById('table').hidden = false;
                            delete_field("row1");
                            for (let i = 0; i < this.value; i++) {
                                add_field_year(i);
                        }});

                        function add_field_year(i){
                            var x = document.getElementById("row1");
                            var new_field = document.createElement("tr");
                            new_field.setAttribute("id", String(i));
                            console.log(i);
                            var pos = x.childElementCount;
                            x.insertBefore(new_field, x.childNodes[pos]);
                            add_num(i)
                            add_field_cf(i);
                        }

                        function add_num(i){
                            var x = document.getElementById(i);
                            var new_field = document.createElement("th");
                            new_field.setAttribute("scope", "col");
                            new_field.innerHTML = i+1;
                            var pos = x.childElementCount;
                            x.insertBefore(new_field, x.childNodes[pos]);
                        }

                        function add_field_cf(param){
                            var x = document.getElementById(param);
                            var new_field = document.createElement("input");
                            new_field.setAttribute("type", "number");
                            new_field.setAttribute("name", "cf");
                            new_field.setAttribute("class", "form-control mb-3");
                            new_field.setAttribute("required", "");
                            var pos = x.childElementCount;
                            x.insertBefore(new_field, x.childNodes[pos]);
                        }

                        function delete_field(param){
                            const list = document.getElementById(param);
                            list.replaceChildren();
                        }
            </script>
        </form>

        <script type="text/javascript">
            var select = document.querySelector(".form-select");
            document.getElementById('Form1').hidden = true;

            select.addEventListener('change', function(){
                console.log(this.value);
                if (this.value == "SelectIndex"){
                    document.getElementById('R(%)').hidden = false;
                }
                else if (this.value == "SCS"){
                    document.getElementById('R(%)').hidden = false;
                }
                else if (this.value == "SCD"){
                    document.getElementById('R(%)').hidden = false;
                }
                else if (this.value == "FAS"){
                    document.getElementById('R(%)').hidden = false;
                }
                else if (this.value == "FAD"){
                    document.getElementById('R(%)').hidden = false;
                }
                else if (this.value == "NPV" || this.value == "PI" || this.value == "DPP" || this.value == "IRR" || this.value == "MIRR"){
                    document.getElementById('Form1').reset();
                    document.getElementById('Form1').hidden = false;
                }
            });

        </script>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Рассчитать</button>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-end fs-6 fw-bold"><span class="align-middle">Результат:</span></p>
                </div>
                <div class="col-sm-6">
                    <input class="form-control form-control-lg" type="text" readonly></input>
                </div>
            </div>
        </div>
    </main>
</div>

</body>
</html>
